<div class="row">
    <div class="col">
        <div class="text-center mb-2">
            <button (click)="refresh()" [disabled]="loading" class="btn btn-primary">
                <img src="/images/arrow-repeat.svg">
                Refresh
            </button>
        </div>

        @if (metricsErrorMessage) {
            <div class="alert alert-danger mt-2" role="alert">{{ metricsErrorMessage }}</div>
        }
        @if (playsErrorMessage) {
            <div class="alert alert-danger mt-2" role="alert">{{ playsErrorMessage }}</div>
        }

        @if (metrics | async; as metrics) {
            <h3 class="mb-3">Total plays: {{metrics.totalCount}}</h3>
            <h5>Outcome counts:</h5>
            <table class="table table-borderless">
                <thead>
                    <tr>
                        <td colspan="2" class="border-none"></td>
                        <th colspan="3" class="text-center table-primary">Computer</th>
                    </tr>
                    <tr>
                        <th scope="col" colspan="2"></th>
                        <th scope="col" class="table-primary">Rock</th>
                        <th scope="col" class="table-primary">Paper</th>
                        <th scope="col" class="table-primary">Scissors</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="col" rowspan="3" class="rotate-vertical text-end align-middle table-secondary">Player</th>
                        <th scope="row" class="text-end table-secondary">Rock</th>
                        <td>{{metrics.playerCounts.ROCK?.computerCounts?.ROCK}}</td>
                        <td>{{metrics.playerCounts.ROCK?.computerCounts?.PAPER}}</td>
                        <td>{{metrics.playerCounts.ROCK?.computerCounts?.SCISSORS}}</td>
                    </tr>
                    <tr>
                        <th scope="row" class="text-end table-secondary">Paper</th>
                        <td>{{metrics.playerCounts.PAPER?.computerCounts?.ROCK}}</td>
                        <td>{{metrics.playerCounts.PAPER?.computerCounts?.PAPER}}</td>
                        <td>{{metrics.playerCounts.PAPER?.computerCounts?.SCISSORS}}</td>
                    </tr>
                    <tr>
                        <th scope="row" class="text-end table-secondary">Scissors</th>
                        <td>{{metrics.playerCounts.SCISSORS?.computerCounts?.ROCK}}</td>
                        <td>{{metrics.playerCounts.SCISSORS?.computerCounts?.PAPER}}</td>
                        <td>{{metrics.playerCounts.SCISSORS?.computerCounts?.SCISSORS}}</td>
                    </tr>
                </tbody>
            </table>
        }

        @if (plays | async; as plays) {
            <h5>Most recent plays:</h5>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Player</th>
                        <th scope="col">Computer</th>
                        <th scope="col">Time</th>
                    </tr>
                </thead>
                <tbody>
                    @for (play of plays; track play.id) {
                    <tr>
                        <td>{{play.id}}</td>
                        <td>{{play.player}}</td>
                        <td>{{play.computer}}</td>
                        <td>{{play.timestamp | date:'short'}}</td>
                    </tr>
                    }@empty {
                        <td colspan="4">Go and play the game!</td>
                    }
                </tbody>
            </table>
        }
    </div>
</div>